* {
  box-sizing: border-box;
}

body {
  background-color: coral;
}

.container {
  display: grid;
  margin: 0 auto 2rem;
  width: 90%;
  height: 95vh;
  grid-template-columns: 100px 1fr 100px;
  grid-template-rows: 100px 1fr 100px;
  background-image: url(../animal.png);
  background-repeat: round;
  background-size: contain;
}

#content {
  display: grid;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  align-content: center;
  justify-content: center;
}

.top-main {
  grid-column: 1 / 4;
}

h4 {
  color: rgb(28, 21, 12);
  font-size: x-large;
}

box {
  border: 15px solid black;
}

button {
  border-radius: 10px;
  margin-top: 25px;
  font-size: large;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}